<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="world" class="com.ruby.bean.HelloWorld">
<property name="msg1" value="Hello World"></property>
<property name="msg2" value="Hello World parent"></property>
</bean>
<bean id="java" class="com.ruby.bean.HelloJava" parent="world">
<property name="msg2" value="Java Class Overriding Variable"></property>
<property name="msg3" value="Java class own method"></property>

</bean>

</beans>
